*{
    font-family: 'Roboto', sans-serif;
}

.breweries{
    background: linear-gradient(black 10%, transparent, black 80%), url(/img/brewery6.jpg), center center no-repeat;
    background-size: cover;
}
