*{
    font-family: 'Roboto', sans-serif;
}

.breweries{
    background: linear-gradient(rgba(26, 24, 22, 0.85) 5%, rgba(0, 0, 0, 0.678), rgba(26, 24, 22, 0.85) 95%), url(/img/brewery6.jpg), center center no-repeat;
    background-size: cover;
}
